@import url('https://fonts.googleapis.com/css2?family=VT323');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    text-align: center;
    background-image: url('../../public/background.png');
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    padding: 1em;
}

.main-box.nes-container {
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: .75em;
    padding-bottom: 0rem;
}

.pokemon-page.nes-container {
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    gap: .75em;
    padding-bottom: 0rem;
}

.options {
    display: grid;
    grid-template-columns: 30% 23% 24% 24%;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.my-container.nes-container {
    padding: 5px;
    background-color: white;
    border: 2px solid black;
}

.my-img {
    height: 80px;
    width: 80px;
    image-rendering: pixelated;
}

.my-link {
    text-decoration: none;
    color: black
}

.my-link:hover {
    text-decoration: none;
    color: black;
}

.thumbnail {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-size: 0.55em;
    align-items: center;
    min-width: 100px;
    margin: 0.5em;
}

.thumbnail * {
    margin: 0px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.my-cursor {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer !important;
}


.customeTheme {
    opacity: 1;
    border-color: #000;
    border-style: solid;
    border-width: 4px
}

.about .nes-container p,
.about .nes-container li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about .nes-container p {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}

.about ul {
    text-align: left;
}

.about h1 {
    margin-top: .75em;
}

.about h3 {
    margin-top: 1em;
}

.about .nes-container {
    padding-bottom: 2em;
}

.about-column-wrapper {
    display: flex;
    justify-content: space-around;
}

.about-column {
    display: flex;
    flex-flow: column;
}

.about-page-image {
    max-width: 30vw;
}

h1 {
    color: #209cee;
}

h1, h5 {
    margin: auto;
}

h5 {
    font-family: "VT323";
    font-size: 18pt;
    line-height: 1;
}

.give-us-credit-dammit {
    color: red;
    font-size: 125%;
}

.thumbnail p {
    font-family: "VT323";
    font-size: 14pt;
}

.filters {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: left;
    flex-flow: column;
    align-items: start;
    font-size: 0.75em;
}

.sort label {
    margin-right: .5em;
}

.footer {
    display: flex;
    font-size: 8px;
    gap: 1.25em;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
}

.display-parameter {
    font-family: "VT323";
    font-size: 14pt;
}

.my-label .nes-checkbox + span::before, .my-label .nes-checkbox:checked + span::before {
    top: 0em;
}

/* Mobile styles */
@media (max-width: 480px) {
    h1 {
        font-size: 16pt;
    }

    h5 {
        font-size: 14pt;
    }

    .thumbnail p {
        font-size: 12pt;
    }

    .options {
        grid-template-columns: 100%;
    }

    .filters {
        display: none;
    }

    .my-img {
        width: 60px;
        height: 60px;
    }

    .thumbnail {
        min-width: 75px;
    }

    .nes-container {
        padding: 1.5rem 1rem;
    }

    .search {
        margin: auto;
    }

    .search label {
        margin-right: 0;
    }

    .footer {
        display: block;
        margin-bottom: .5em;
    }

    .footer p {
        margin-bottom: 0;
        font-size: 6px;
    }
}

@media (-webkit-min-device-pixel-ratio: 0) and (-webkit-min-device-pixel-ratio: 0), (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    /* Fixes an issue with seams appearing in the navbar item borders. */
    .nes-input, .nes-textarea {
        border-image-repeat: unset;
    }
}